
div .border  {
  -webkit-animation:spin 110s linear infinite;
    -moz-animation:spin 110s linear infinite;
    animation:spin 110s linear infinite;
}


div .sub-border {
  -webkit-animation:spin-counter 110s linear infinite;
    -moz-animation:spin-counter 110s linear infinite;
    animation:spin-counter 110s linear infinite;
}

.hud, .ex {
	  -webkit-animation:glow 0.75s alternate infinite;
    -moz-animation:glow 0.75s alternate infinite;
    animation:glow 0.75s alternate infinite;
}

.glow {
	-webkit-animation:glow 0.75s alternate infinite;
    -moz-animation:glow 0.75s alternate infinite;
    animation:glow 0.75s alternate infinite;

}

.about {
      -webkit-animation:bounce 1.25s linear alternate infinite;
    -moz-animation:bounce 1.25s linear alternate infinite;
    animation:bounce 1.25s linear alternate infinite;
}

.contact {
      -webkit-animation:bounce 1.25s linear alternate infinite;
    -moz-animation:bounce 1.25s linear alternate infinite;
    animation:bounce 1.25s linear alternate infinite;
}


.portfolio {
      -webkit-animation:bounce 1.25s linear alternate infinite;
    -moz-animation:bounce 1.25s linear alternate infinite;
    animation:bounce 1.25s linear alternate infinite;
}

.hudScale {
	 
-webkit-animation: shrink 1s 16 ease;
-moz-animation: shrink 1s 16 ease;
-o-animation: shrink 1s 16 ease;

}

.grow {
	 
-webkit-animation: grow 0.5s forwards ease;
-moz-animation: grow 0.5s forwards ease;
-o-animation: grow 0.5s forwards ease;

}





/* animation */

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-counter { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-counter { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-counter { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

 @-moz-keyframes bounce { 100% {-moz-transform:translateY(5px); } }
 @-webkit-keyframes  bounce { 100% {-webkit-transform:translateY(5px); } }
 @keyframes bounce  { 100% {transform:translateY(5px); } }

@-webkit-keyframes shrink {100% { -webkit-transform: scale(0); } }
@-moz-keyframes shrink {100%{ -moz-transform: scale(0); } }
@-o-keyframes shrink {100% { -o-transform: scale(0); } }

@-webkit-keyframes grow {
0% { -webkit-transform: scale(0); }
100% { -webkit-transform: scale(100%); }
}
@-moz-keyframes grow {
0% { -moz-transform: scale(0); }
100% { -moz-transform: scale(100%); }
}
@-o-keyframes grow {
0% { -o-transform: scale(0); }
100% { -o-transform: scale(100%); }
}

@-webkit-keyframes glow {
0% {box-shadow: 0px 0px 10px #9DFCF0;  }
100% {box-shadow: 0px 0px 30px #9DFCF0; }
}
@-moz-keyframes glow {
0% {box-shadow: 0px 0px 10px #9DFCF0; }
100% {box-shadow: 0px 0px 30px #9DFCF0; }
}
@-o-keyframes glow {
0% { box-shadow: 0px 0px 10px #9DFCF0; }
100% { box-shadow: 0px 0px 30px #9DFCF0; }
}